@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colour */
  --fun-color-primary: #2D5BFF;
  --fun-color-lightgray: #F5F5F5;
  --fun-color-gray: #ECECEC;
  --fun-color-error: #FF4D4D;
  --fun-color-success: #4CAF50;
  --fun-color-secondary: #BFD8FF;
  --fun-color-grocery: #88e119;
  /* Font */
  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: var(--fun-color-primary);
  --color-lightgray: var(--fun-color-lightgray);
  --color-gray: var(--fun-color-gray);
  --color-error: var(--fun-color-error);
  --color-success: var(--fun-color-success);
  --color-secondary: var(--fun-color-secondary);
  --color-grocery: var(--fun-color-grocery);
}

body {
  margin: 0;
  /* display: flex; 
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* Global reset and base styles */ 
* {
  box-sizing: border-box;
  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
}

#root {
  height: 100%;
}

